In [1]:
import pandas as pd
import numpy as np
from fastai.tabular.all import *

In [15]:
df = pd.read_pickle("donors.pkl")
sample = pd.read_pickle("sample.pkl")

In [16]:
cont_names, cat_names = cont_cat_split(sample, max_card=40)

In [23]:
dateNames = [c for c in sample.columns.values if ("DATE" in c)]
sample = df_shrink(sample, skip=dateNames)

In [25]:
sample.dtypes

ODATEDW       object
OSOURCE     category
TCODE          int16
STATE       category
ZIP         category
              ...
RFA_2A      category
MDMAUD_R    category
MDMAUD_F    category
MDMAUD_A    category
GEOCODE2    category
Length: 475, dtype: object

In [27]:
df[(df.INCOME.isnull() == False) & (df.WEALTH1.isnull() == False)][["INCOME", "WEALTH1", "WEALTH2"]]

       INCOME  WEALTH1  WEALTH2
1         6.0      9.0      9.0
2         3.0      1.0      1.0
3         1.0      4.0      0.0
4         3.0      2.0      NaN
6         4.0      6.0      3.0
...       ...      ...      ...
95400     4.0      9.0      9.0
95401     6.0      8.0      NaN
95406     6.0      6.0      6.0
95408     7.0      9.0      NaN
95411     5.0      8.0      8.0

[50680 rows x 3 columns]