In [2]:
import sqlite3
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
import sklearn as sk
import dtale

In [6]:
# df = pd.read_csv("donors.csv", low_memory=False).drop(columns="Unnamed: 0")
# df.to_pickle("donors.pkl")

In [7]:
df = pd.read_pickle("donors.pkl")

In [ ]:
# dtale.show(df)

In [8]:
sample_df = df.iloc[:1000, :].copy()

# EDA

In [9]:
# The following variables indicate the number of
# known times the donor has responded to other
# types of mail order offers.

groupMailOffers = sample_df.loc[:, "MBCRAFT":"PUBOPP"].columns.to_list()

# dtale.show(sample_df[mailOrderOffers])

for col in groupMailOffers:
    sample_df[col] = sample_df[col].fillna(0).astype(np.int16)

In [16]:

groupMDMAUD = [col for col in sample_df.columns.to_list() if "MDMAUD" in col]
groupRAMNT = [col for col in sample_df.columns.to_list() if "RAMNT" in col]

In [20]:
sample_df['RAMNT_11']

0       NaN
1       NaN
2       NaN
3      10.0
4       NaN
       ...
995     NaN
996     NaN
997     NaN
998     NaN
999     NaN
Name: RAMNT_11, Length: 1000, dtype: float64

In [45]:
namesToGroup = ["MDMAUD", "RAMNT"]
(dictGroups := {name: [col for col in sample_df.columns.to_list() if name in col] for name in namesToGroup})

{'MDMAUD': ['MDMAUD', 'MDMAUD_R', 'MDMAUD_F', 'MDMAUD_A'],
 'RAMNT': ['RAMNT_3',
  'RAMNT_4',
  'RAMNT_5',
  'RAMNT_6',
  'RAMNT_7',
  'RAMNT_8',
  'RAMNT_9',
  'RAMNT_10',
  'RAMNT_11',
  'RAMNT_12',
  'RAMNT_13',
  'RAMNT_14',
  'RAMNT_15',
  'RAMNT_16',
  'RAMNT_17',
  'RAMNT_18',
  'RAMNT_19',
  'RAMNT_20',
  'RAMNT_21',
  'RAMNT_22',
  'RAMNT_23',
  'RAMNT_24',
  'RAMNTALL',
  'MINRAMNT',
  'MAXRAMNT']}

In [73]:
sample_df[['RFA_2', 'MDMAUD']]

    RFA_2 MDMAUD
0     L4E   XXXX
1     L2G   XXXX
2     L4E   XXXX
3     L4E   XXXX
4     L2F   XXXX
..    ...    ...
995   L2F   XXXX
996   L1G   XXXX
997   L1F   XXXX
998   L4D   XXXX
999   L1F   XXXX

[1000 rows x 2 columns]

In [61]:
toReorder = ["ADATE", "RFA", "RDATE", "RAMNT"]
reorderedCols = []
for i in range(3, 25):
    reorderedCols += [str(col)+"_"+str(i) for col in toReorder]
reorderedCols = ["ADATE_2", "RFA_2"] + reorderedCols

dictIdx = {col: sample_df.columns.get_loc(col) for col in reorderedCols}

temp = sample_df[dictIdx.keys()].copy()
sample_df.drop(columns=dictIdx.keys(), inplace=True)

for key in dictIdx.keys():
    sample_df[key] = temp[key]

In [74]:
sample_df.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,RDATE_22,RAMNT_22,ADATE_23,RFA_23,RDATE_23,RAMNT_23,ADATE_24,RFA_24,RDATE_24,RAMNT_24
0,2009-01-01,GRI,0,IL,61081,,,1957-12-01,0,,...,NaN,NaN,2014-07-01,S4E,2014-08-01,11.0,2014-06-01,S4E,2014-06-01,9.0
1,2014-01-01,BOA,1,CA,91326,,,1972-02-01,0,,...,NaN,NaN,NaN,,NaN,NaN,2014-06-01,F1E,NaN,NaN
2,2010-01-01,AMH,1,NC,27017,,,NaN,0,,...,2014-09-01,8.0,2014-07-01,S4D,2014-07-01,7.0,2014-06-01,S3D,2014-06-01,6.0
3,2007-01-01,BRY,0,CA,95953,,,1948-01-01,0,,...,NaN,NaN,NaN,,NaN,NaN,NaN,,NaN,NaN
4,2006-01-01,,0,FL,33176,,,1940-01-01,0,X,...,NaN,NaN,2014-07-01,A3D,NaN,NaN,2014-06-01,A3D,NaN,NaN

In [75]:
dtale.show(sample_df)